<div >
    <div class="container-fluid feedBackForm">
      <center><h3><b>Provide Your Feedback</b></h3>
      <div>&nbsp;</div>
      <div>
        <form id="feedback" name="feedback">
          <table>
            <tbody>
              <tr>
                <td class="a">Your Name</td>
                <td class="b">:</td>
                <td class="c"><input class="form-control" type="text" id="name" name="name"></td>
              </tr>
              <tr>
                <td class="a">E-mail ID</td>
                <td class="b">:</td>
                <td class="c"><input class="form-control" type="email" id="email" name="email"></td>
              </tr><tr>
                <td class="a">Comments</td>
                <td class="b">:</td>
                <td class="c"><textarea class="form-control" cols="50" rows="10"  id="comments" name="comments"></textarea></td>
              </tr>
              <tr>
                <td colspan="3" align="center">
                  <button class="btn  btn-primary from-control" type="submit">Submit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>

      </div>
    </center>
    </div>  
  </div>
