<footer class="container-fluid footer">
    <div class="stat">
      <center>
        <table>
          <tbody>
            <tr>
              <td class="label1" style="width:49%;">
                  Last Update
              </td>
              <td class="splitor" style="text-align:center;">
                  :
              </td>
              <td class="content" style="float:left;">
                  27 Dec 2020
              </td>
            </tr>
            <tr>
              <td class="label1_lab" colspan="3" style="font-family:cambria;text-align:center;">
                <b><a href="http://www.cse.iitb.ac.in/~pb" target="_blank">Dr. Pushpak Bhattacharyya</a></b>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
    </div>
    <div class="lab_name">
      <center>
        <table>
          <tbody>
            <tr>
              <td class="seperator">&nbsp;</td>
              <td class="label1_lab" style="text-align:center;"><a href="http://www.cfilt.iitb.ac.in/" target="_blank">Center for Indian Language Technology - CFILT</a></td>
              <td class="seperator">&nbsp;</td>
              <td class="seperator">&nbsp;</td>
              
              <td class="label1_lab" style="text-align:center;"><a href="http://www.iitb.ac.in/" target="_blank">Indian Institute of Technology (IIT-Bombay)</a></td>
              <td class="seperator">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </center>
    </div>
  </footer>