<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Indowordnet</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/underscore@1.12.1/underscore-min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
 
  
</head>
<body>
  
  {% include 'header.html' %}
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  
  {% if feedbackSuccess %}
  <div id="feedbackSuccess" class="error_div alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">X</span>
      <span class="sr-only">Close</span>
    </button>
    <p id="feedbackSuccessText" style="display: inherit;">Your feedback is submitted successfully.</p>
  </div>
  {% endif %}
  
  {% if feedbackError %}
  <div id="feedbackError" class="error_div alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">X</span>
      <span class="sr-only">Close</span>
    </button>
    <p id="feedbackErrorText" style="display: inherit;">Error Occured While Submitting The Feedback.</p>
  </div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  {% endif %}

  {% if not found %}
  <div class="error_div alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">X</span>
      <span class="sr-only">Close</span>
    </button>
    Word <span style="color: blue;">{{query}}</span> not found in wordnet
  </div>
  {% else %}
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  
  {% endif %}
  
  {% if  feedBack %}
  <div class="close_match_div alert-info  alert-dismissible" role="feedback">
    <button type="button" class="close" data-dismiss="feedback">
      <span aria-hidden="true">X</span>
      <span class="sr-only">Close</span>
    </button>
    Feedback submited
  </div>
  {% else %}
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  
  {% endif %}
  
  {% if  suggFound %}
  <div>
    <div class="close_match_div alert-info  alert-dismissible" role="sugg">
      <button type="button" class="close" data-dismiss="sugg">
        <span aria-hidden="true">X</span>
        <span class="sr-only">Close</span>
      </button>
      Suggested Word :
      {% for i in suggWord %}
        <a href="wordnet?langno={{langno}}&query={{i}}" > {{i}}  </a>&nbsp;&nbsp;
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  
  {% endif %}
  
  
  <div>&nbsp;</div>
  {% include 'searchbox.html' %}
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div id="currentStatistics">&nbsp;</div>
  <div >&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  {% include 'currentStatistics.html' %}
  <div id="feedBack">&nbsp;</div> 
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  
 
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  {% include 'feedback.html' %}
  <div id="contactUs">&nbsp;</div> 
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  
 
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  {% include 'contact.html' %}
  <div>&nbsp;</div>
  <div>&nbsp;</div>

  <div>&nbsp;</div> 
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  
 
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  {% include 'references.html' %}
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <center><b>Acknowledgment:</b> The majority of the funding for Indowordnet came from TDIL, DEITY, MCIT. Part of Dravidian wordnet  work was supported in the project's initial phase by MHRD. Sanskrit wordnet was supported by MHRD</center><br>


  {% include 'footer.html' %}

  <div>&nbsp;</div>
 
  
  <script type="text/javascript">
    localStorage.setItem('langSelected',0)
    localStorage.setItem('tlangSelected',0)
  </script>

</body>
</html>
